@font-face {
  font-family: minecraft;
  src: url("assets/font.otf") format("opentype");
}

*{
  padding: 0;
  margin: 3;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #222327;
  font-family: minecraft;
  color: whitesmoke;
}

h1 {
  color: whitesmoke;
  font-size: 40px;
}

header {
  background: #18191b;
  border-radius: 3px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  margin: 1px;
  float: left;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0px;
  list-style: none;
  display: inline-block;
  padding-right: 15px;
}

nav ul li {
  display: inline-block;
  margin-left: 10px;
  padding-top: 18px;
  font-size: 20px;
}

nav ul li a {
  text-align: center;
  color:whitesmoke;
  text-decoration: none;
  padding: 7px 13px;
  border-radius: 3px;
}
a.active,a:hover{
  background: #3c3e44;
  transition: .5s;
}